
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li, input,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  background-color: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS PROPIO */

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  position: relative;
  overflow-x: hidden;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  background-color: rgb(240, 207, 181);
  background-image: url('../images/background.png');
  background-repeat: repeat;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
a {
  color: grey;
}
a:hover {
  color: rgb(82, 82, 82);
}
h2 {
  font-size: 36px;
  line-height: 64px;
  margin-bottom: 25px;
  font-weight: 700;
  color: #1d1d1d;
}
h4 {
  font-size: 18px;
  line-height: 25px;
  /* margin-bottom: 25px; */
}
.logo-mobile {
  display: block;
}
.logo-desktop {
  display: none;
}
.main {
  position: relative;
  padding-top: 30px;
}
.wrapper {
  max-width: 100%;
  padding: 20px;
}
.menu {
  display: flex;
}
.menu-hamburger {
  font-size: 1.8em;
  color: black;
}
.menu-items {
  display: none;
  color: black;
  position: absolute;
  background-color: white;
  left: 0;
  top: 120px;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 20px;
}
.menu-items a {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 500;
  font-size: 1.5em;
  margin-left: 30px;
}
.menu-items a:hover, .current-url {
  text-decoration: underline;
}

.menu-item {
  padding-bottom: 20px;
}
.show-menu {
  display: block;
}
.tag-filter ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}
.tag-filter li {
  margin: 0 8px;
}
.tag-filter li a {
  color: #000000;
  font-weight: bold;
}
.tag-filter li a:hover {
  color: rgb(82, 82, 82);
}

/* inicio no se toca */

.project-wrapper {
  /* margin: 1em auto; */
}
.project-masonry {
  /* margin: 1.5em 0; */
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}
.project-card {
  display: inline-block;
  /* padding: 1em; */
  margin: 0 0 1.8em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 0;
}
/* FIN DE NO SE TOCA */

.project-link {
  display: table-cell;
  position: relative;
}
.project-caption {
  opacity: 0;
  transition: all 150ms linear;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.project-caption div {
  display: table;
  width: 100%;
  height: 100%;
}
.project-caption > div > div {
  display: table-cell;
  vertical-align: middle;
}
.show-caption {
  opacity: 100;
}
.project-img {
  width: 100%;
}

.project-image img {
  width: 100%;
}
.project-title {
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
  text-transform: none;
  max-width: 240px;
  margin: 0 auto;
}
.tag-name {
  color: #1b1b1b;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  font-style: italic;
  display: inline;
  font-weight: lighter;
}

/* proyecto */
.project-data {
  width: 100%;
  display: inline-flex;
  margin: 40px 0;
}
.top-left-side {
  margin-bottom: 20px;
}
.left-side {
  width: 70%;
  padding-right: 50px;
}
.right-side {
  width: 30%;
  font-size: 0.8em;
  padding-left: 20px;
}
.project-data-title {
  font-size: 1.2em;
  font-weight: 700;
}
.project-data-tag {
  font-style: italic;
}
.bold {
  font-weight: 700;
}

@media (min-width: 470px) {
  header {
    height: 150px;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
  }
  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: block;
    max-width: 200px;
  }
  .main {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 0;
  }
  .wrapper {
    max-width: 1180px;
  }
  .menu-item {
    padding-bottom: 0;
  }
  .tag-filter {
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 0;
    display: flex;
  }
}

@media (min-width: 400px) {
  .project-masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 720px) {
  .header {
    height: 214px;
  }
  .menu-hamburger {
    display: none;
  }
  .menu-items {
    display: block;
    color: black;
    position: relative;
    background-color: transparent;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 0;
  }
  .menu-item {
    display: inline;
  }
  .project-masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  /*login_form */
  .caja {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
  }
  .section-title {
    font-size: 20px;
    font-weight: 700;
    color: grey;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
  }
  .form-label {
    color: grey;
    display: block;
  }
  .input {
    padding-bottom: 10PX;
  }
  .input-login {
    width: 100%;
    border: 1px solid grey;
    height: 25px;
  }
  .rememberme {
    color: coral;
    font-size: 15px;
    margin-top: 15px;
  }
  .login-foot {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    padding: 5px 15px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
  }
  .btn:hover {
    background-color: grey;
  }
  .reset {
    font-size: 15px;
    color: coral;
    padding: 0;
    align-self: flex-end;
    line-height: 12px;
  }

  /* back to top */
  #backtop {
    position: fixed;
    left:auto;
    right: 83px;
    top:auto;
    bottom: 40px;
    outline: none;
    overflow:hidden;
    color:#fff;
    text-align:center;
    background-color: coral;
    height:60px;
    width:60px;
    line-height:60px;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    transition:all 0.3s linear;
    z-index:999999;

    opacity:1;
    display:none;
  }
  #backtop:hover {
    background-color: black;
  }
  #backtop.mcOut {
    opacity:0;
  }
}
